<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white flex justify-center items-center h-screen m-0 p-0">
    <div class="absolute top-0 left-0 m-4">
        <button onclick="history.back()" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            ← Back
        </button>
    </div>
    <div class="bg-gray-800 rounded-lg p-6 w-full max-w-md">
        
            <form action="/create_bot" method="POST" class="flex flex-col gap-4">
                <button type="submit" name="selected_menu" value="rag_agent" class="py-2 bg-blue-600 hover:bg-blue-500 rounded text-white text-lg">Document Retrieval Agent</button>
                <button type="submit" name="selected_menu" value="multi_agent" class="py-2 bg-blue-600 hover:bg-blue-500 rounded text-white text-lg">Multiple Agent Comparison</button>
            </form>
    </div>
</body>
</html>
